<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NoCable</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
<body>
<input type="hidden" id="link" value="{{qrcode}}">
<div class="container"> 
    <div class="row"> 
        <img class="qrcode" src="/static/img/qrcode.png" alt="{{qrcode}}" title="connect to same WIFI and scan this qrcode to connect to this page"></img>
        <div class="connected">
        <div class="help">
            <p>1. Connect both devices to same Wifi</p>
            <p>2. Scan the QrCode by the second device</p>
            <p>3. Start Upload/Download by drag&drop or upload</p>
            <hr>
        </div>
        <div class="dropdown">
            <span>NoCable</span>
            <div class="dropdown-content">
            <p>1. Connect both devices to same Wifi</p>
            <p>2. Scan the QrCode by the second device</p>
            <p>3. Start Upload/Download by dragdrop or upload</p>
            </div>
            </div>
        </div>
        <div class="upload">    
       
       
       
        <form ondrop="dropHandler(event)" ondragover="event.preventDefault()" method="post" action="/upload" enctype="multipart/form-data">                    
            <label for="file-upload" class="custom-file-upload">
                <img src="/static/img/uploadicon.png" alt="Upload Image">
            </label>
            <input id="file-upload" type="file" name="file">
        </form>
            <div class="chat-input-holder">
                <input class="chat-input" placeholder="write somthing..."></input>
                <button type="submit" value="Send" class="message-send" />
                    <img class="send-img-btn" src="/static/img/send_icon.svg" alt="submit"/>
                </button>
            </div>
        </div>
        
        <div class="files">
        {% for file in files %} 
            <div class="container msg">
                <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
                <p class="file-link"><a draggable="true" href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></p>
                <form action="{{ url_for('delete_file', filename=file) }}" method="post" style="display:inline;">
                    <button class="del" type="submit" onclick="return confirm('Are you sure to delete {{ file }}?')">🗑️ Delete</button>
                </form>
                <span class="time-right">11:00</span>
            </div>
        {% endfor %}
        </div>
        </div> 
</div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
